<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- Standard Meta -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/img/apple-icon-57x57.png">

    <script th:inline="javascript"></script>
    <!-- Site Properties -->
    <title>Carl-Xiao 个人喜好视频 </title>
    <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <link href="https://cdn.bootcss.com/semantic-ui/2.4.0/semantic.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/semantic-ui/2.4.0/semantic.min.js"></script>
    <script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
    <script src="https://cdn.bootcss.com/qs/6.6.0/qs.min.js"></script>
    <link href="/static/css/index.css" rel="stylesheet">

    <script src="/static/js/sidear.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/css/swiper.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.0.2/js/swiper.min.js"></script>
    <link href="/static/css/indexswiper.css" rel="stylesheet">
</head>
<body>
<div th:replace="~{header :: fmenu}"></div>

<div class="swiper-container">
    <div class="swiper-wrapper">
        <div class="swiper-slide"><img src="http://i0.itc.cn/20190304/39e5_3daeb86a_87f2_6e79_6613_af574145d3a1_1.png" class="img"></div>
        <div class="swiper-slide"><img src="http://photocdn.tv.sohu.com/img/20190114/pic_org_ac3518de-d220-4f0b-ac35-cc76aac9826f.jpg" class="img"></div>
        <!--<div class="swiper-slide"><img src="/static/img/ups3.jpg" class="img"></div>-->
    </div>
    <!-- 如果需要分页器 -->
    <div class="swiper-pagination"></div>

    <!-- 如果需要导航按钮 -->
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>

    <!-- 如果需要滚动条 -->
    <div class="swiper-scrollbar"></div>
</div>

<div class="ui main container">
    <div class="row relative">
        <h3 class="ui dividing header red">
            <i class="red tv icon item"></i>Running Man
        </h3>
        <button class="ui mini red button right-absolute refresh" value="6"><i class="refresh icon refeshRm"></i>换一批
        </button>
    </div>
    <div class="ui four column doubling grid" id="main">
        <div class="column" th:each="rmTv,sizeStat:${rmTvs}">
            <div class="ui fluid card">
                <a class="image" th:href="@{'/bibil/'+${rmTv.page}}">
                    <img src="/static/img/rm.png"/>
                </a>
                <div class="content">
                    <a class="header part" th:href="@{'/bibil/'+${rmTv.page}}" th:text="${rmTv.part}"
                       th:target="_blank">RM</a>
                </div>
            </div>
        </div>
    </div>
    <div class="ui hidden divider"></div>
    <div class="row relative">
        <h3 class="ui dividing header red">
            <i class="tv icon item"></i>最新电视剧
        </h3>
        <button class="ui mini red button right-absolute refresh" value="12"><i class="refresh icon"></i>换一批</button>
    </div>
    <div class="ui six column doubling grid">
        <div class="column videoItem" th:each="movie, iterStat:${sohuTvs}">
            <div class="ui fluid link card">
                <a class="image videoUrl" th:href="@{'/api/sohu/'+${movie.play}+'/'+${movie.vid}}" th:target="_blank">
                    <img class="videoImage" th:src="${movie.img_url}" th:alt="${movie.name}"/>
                </a>
                <div class="extra content">
                    <a class="ui teal videoTitle" th:href="@{'/api/sohu/'+${movie.play}+'/'+${movie.vid}}" th:target="_blank" th:text="${movie.name}"></a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    var mySwiper = new Swiper('.swiper-container', {
        speed: 3000,
        longSwipes: false,
        loop: true,
        autoplay: {
            disableOnInteraction: false,
        },
        // 如果需要分页器
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        // 如果需要前进后退按钮
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        // 如果需要滚动条
        // scrollbar: {
        //     el: '.swiper-scrollbar',
        // },
    })
    var idolsPage = 0;
    var api = "/rm";
    // 上一页
    $(".idolsPreBtn").click(function () {
        idolsPage = idolsPage - 1;
        if (idolsPage < 0) {
            return
        }
        const data = {
            page: idolsPage
        };
        axios({
            method: 'post',
            url: api,
            data: Qs.stringify(data),
        }).then(
            function (response) {
                var datas = response.data;
                if (datas != null && datas.length > 0) {
                    console.log("上一页替换当前数据")
                    $("#main").html('')
                    for (var i = 0; i < datas.length; i++) {
                        $("#main").append('<div class="column" >' +
                            '            <div class="ui fluid card"> ' +
                            '                <a class="image" href="#"> ' +
                            '                    <img src="/static/img/rm.png"/> ' +
                            '                </a>' +
                            '                <div class="content">' +
                            '                    <a class="header" href="#" >' + datas[i].part + '</a>' +
                            '                    <div class="meta">' +
                            '                        <a>HAHA</a>\n' +
                            '                    </div>' +
                            '                </div>' +
                            '            </div>' +
                            '</div>')
                    }
                }
            }).catch(function (error) {
            console.log(error);
        });
    });
    // 下一页
    $(".idolsNextBtn").click(function () {
        idolsPage = idolsPage + 1;
        console.log("当前第几页" + idolsPage)
        var api = "/rm";
        var current = $(this);
        const data = {
            page: idolsPage
        };
        axios({
            method: 'post',
            url: api,
            data: Qs.stringify(data),
        }).then(function (response) {
            var datas = response.data;
            if (datas != null && datas.length > 0) {
                console.log("下一页替换当前数据")
                $("#main").html('')
                for (var i = 0; i < datas.length; i++) {
                    $("#main").append('<div class="column" >' +
                        '            <div class="ui fluid card"> ' +
                        '                <a class="image" href="#"> ' +
                        '                    <img src="/static/img/rm.png"/> ' +
                        '                </a>' +
                        '                <div class="content">' +
                        '                    <a class="header" href="#" >' + datas[i].part + '</a>' +
                        '                    <div class="meta">' +
                        '                        <a>HAHA</a>\n' +
                        '                    </div>' +
                        '                </div>' +
                        '            </div>' +
                        '</div>')
                }
            }
        }).catch(function (error) {
            console.log(error);
        });
    });
    /**
     * 换一批
     */
    $(".refresh").click(function () {
        console.log("------refesh-----")
        idolsPage = idolsPage + 1;
        var api = "/rm";
        var current = $(this);
        const data = {
            page: idolsPage
        };
        axios({
            method: 'post',
            url: api,
            data: Qs.stringify(data),
        }).then(function (response) {
            var datas = response.data;
            if (datas != null && datas.length > 0) {
                $("#main").html('')
                for (var i = 0; i < datas.length; i++) {
                    $("#main").append('<div class="column" >' +
                        '            <div class="ui fluid card"> ' +
                        '                <a class="image" href="#"> ' +
                        '                    <img src="/static/img/rm.png"/> ' +
                        '                </a>' +
                        '                <div class="content">' +
                        '                    <a class="header" href="#" >' + datas[i].part + '</a>' +
                        '                    <div class="meta">' +
                        '                        <a>HAHA</a>\n' +
                        '                    </div>' +
                        '                </div>' +
                        '            </div>' +
                        '</div>')
                }
            }
        }).catch(function (error) {
            console.log(error);
        });
    });

</script>

</html>